<form action="/examples/upload" method="post" enctype="multipart/form-data">
    <h1>{{title}}</h1>
    <!--File Title-->
    <div class="mb-3">
        <label for="title1" class="form-label">File 1 Title:</label>
        <input type="text" class="form-control" placeholder="Enter a file title" name="title1" id="title1" value="{{submittedEmail}}">
    </div>
    <!--File Input-->
    <div class="mb-3">
        <label for="file1" class="form-label">File 1:</label>
        <input type="file" class="form-control" placeholder="Select a file" name="file1" id="file1" value="{{submittedEmail}}" multiple>
    </div>

    <div class="mb-3">
        <label for="file2" class="form-label">File 1:</label>
        <input type="file" class="form-control" placeholder="Select a file" name="file2" id="file2" value="{{submittedEmail}}">
    </div>

    <h1>{{originalName}}</h1>
    <button type="submit" class="btn btn-warning">Upload File</button>

    <div>
        <h2>Submitted Files and Descriptions</h2>

        {{#each bodyData}}
            <p>{{@key}}: {{this}}</p>
        {{/each}}



        {{#each images}}
            <label>{{this.fieldname}} - {{this.origeinalname}}</label>
            {{#with this}}
                <img src="{{this}}" alt="{{this}}"/>
            {{/with}}
        {{/each}}
        <!--Display the imageges in an i    mage tag if it exists-->
    </div>
</form>